---
import Sidebar from '../../../components/UI/sidebar.astro';
import Layout from '../../../layouts/baseLayout.astro';
const allPosts = await Astro.glob('../../../data/nyheter/*.md')
const publishedPosts = allPosts.filter(post => !post.frontmatter.draft)


// console.log(import.meta\u200b.env.MODE)
import Contentbox from '../../../components/content/Contentbox.astro';
import {max_height} from '../../../components/UI/navbar.svelte'

---
<Layout title="Kodvet är bäst" active={Astro.url.pathname}>
	<div class="wrapper">
		<Sidebar posts={
			import.meta.env.STAGING === 'true'
			? allPosts.map(({frontmatter}) => frontmatter)
			: publishedPosts.map(({frontmatter}) => frontmatter)
		}/>
		<section id="inlägg">
			{() => {
				let posts
				if (import.meta.env.STAGING === "true") posts = allPosts
				else posts = publishedPosts
				return posts.map(({ frontmatter, Content }) =>(
			<div class="post">
			<div class="scrollAnchor" id={frontmatter.title} style={`--max-height: ${max_height}px`}></div>
			<Contentbox>
				<h3>{frontmatter.author}</h3>
				<Content/>
			</Contentbox>
			</div>)
		)
			}
			
			}
		</section>
	</div>
</Layout>
<script>
	console.log(import.meta.env.MODE)
</script>
<style>
	.wrapper {
		display: flex;
	}
	/* dessa funkar som "ankare" för att autoscrolla till */
	.scrollAnchor {
		display: block;
		position: relative;
		top: -200px;
		visibility: hidden;
	}
	#inlägg {
		display: flex;
		flex-direction: column;
		margin: 50px;
		gap: 300px;
	}

</style>

