---
import Layout from '../layouts/baseLayout.astro';
import Hero from '../components/content/hero.astro';
import Titlecard from '@components/content/TitleCard.svelte';
import NyhetCard from '@components/content/NyhetCard.svelte';
import MainButton from '@components/UI/MainButton.svelte';
import Caorusel from '@components/content/Carousel.svelte'
const posts = await Astro.glob('../data/nyheter/*.md')
const publishedPosts = posts.filter(post => !post.frontmatter.draft)
const sortedPosts = publishedPosts.sort((a, b) => {
		const dateA = new Date(a.frontmatter.date)
		const dateB = new Date(b.frontmatter.date)
		return dateB - dateA
	})

const latestPost = sortedPosts.find(post => {
	// console.log("datum", Date(Math.max(...sortedPosts.map(post => new Date(post.frontmatter.date).getTime()))))
	// console.log("frontmatter", Date(post.frontmatter.date))
	return Date(post.frontmatter.date) === Date(Math.max(...sortedPosts.map(post => new Date(post.frontmatter.date).getTime())))
})

const latestPostWithAuthorFrontmatter = {
	...latestPost.frontmatter,
		authors: await Promise.all(latestPost.frontmatter.authors.map(async uuid => {
			const imported = await import(`../data/medlemmar/${uuid}.md`)
			return imported.frontmatter
		}))
	}

---
<Layout title="KogVet" active={Astro.url.pathname} isOpaque={true}>
<Fragment slot="main">
		<section class="hero">
			<Hero />
		</section>
		<section class="welcome">
			<Titlecard sponsors={true} client:visible>
				<Fragment slot="header">
					Välkommen till kogvet!
				</Fragment>
				<Fragment slot="content">
					Vi är sektionen för det kognitionsvetenskapliga programmet vid Linköpings Universitet. Här finns information och dokument samlat till dig som är student under Student.
					Är du nyfiken på vilka vi är och vad vi gör? Se Om sektionen. För mer information om Kognitionsvetenskap som program, se Kognitionsvetenskap vid LiU.
				</Fragment>
			</Titlecard>
		</section>
		<section class="carousel">
			<Caorusel client:visible>
				 <img src="/images/karusell1.png" alt="">
				 <img src="/images/karusell2.png" alt="">
				 <img src="/images/karusell3.png" alt="">
				 <img src="/images/karusell4.png" alt="">
				 <!-- <div style="width: 500px; height: 500px; background-color: aqua;"></div>
				 <div style="width: 500px; height: 500px; background-color: green;"></div>
				 <div style="width: 500px; height: 500px; background-color: black;"></div>
				 <div style="width: 500px; height: 500px; background-color: red;"></div> -->
			</Caorusel>
		</section>
		<section class="news">
			<div class="header wrapper">
				<h1>Senaste inlägg</h1>
				<hr>
			</div>
			<div class="newsList">
				<div class="post">
					<NyhetCard post={latestPostWithAuthorFrontmatter}>
						{latestPostWithAuthorFrontmatter.excerpt}
					</NyhetCard>
				</div>
			</div>
			<div class="button-wrapper">
				<a href="/student/nyheter/1">
					<MainButton>
						Alla inlägg
					</MainButton>
				</a>
			</div>
		</section>
</Fragment>
</Layout>

<style lang="scss">
	section:not(.hero) {
		margin-block: 40px;
	}
	.hero {
		z-index: 2;
		min-height: 100vh;
		margin-bottom: 5%;
		filter: chroma(color = #FFF);
	}

	.welcome {
		display: flex;
		justify-content: space-between;
		// box-shadow: 0 0px 6px black;
		// La till margins för att ge lite whitespace runt contentbox -Fredrik
		// margin-top: 1%;
		// margin-bottom: 3%;

		aside {
			background-color: white;
			display: flex;
			justify-content: center;
			width: 25%;
			//border: 2px solid #bbb;
		}
	}
	.news {
		width: clamp(500px, 1300px, 90vw);
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		z-index: -1;
		gap: 10px;
		hr {
			display: block;
			height: 2px;
			width: 100%;
			background-color: var(--buckethat-svart);
			margin: 0;
		}
	
		.newsList {
			display: flex;
			flex-direction: column;
			row-gap: 100px;
			.post {
				container-type: inline-size;
				display: flex;
				flex-direction: row-reverse;
				gap: 20px;
				padding:20px;
				justify-content: center;
			}
		}
		.button-wrapper {
			display: inline;
			margin: auto;
		}
	}
	.carousel {
	}
	@media (max-width: 601px) {
		.hero {
			margin-bottom: 0;
			& :global(.container::before) {
				box-shadow: none;
			}
		}
		.welcome {
			margin-top: 0 !important;
		}
		.news {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: unset;
			max-width: 400px;
			.header.wrapper {
				text-align: center;
				width: 90%;
				min-width: 300px;
			}
			.newsList {
				width: 100%;
				.post {
					
				}
			}
		}
	}
</style>
