---
import Layout from '../layouts/baseLayout.astro';
import Hero from '../components/content/hero.astro';
import Titlecard from '@components/content/TitleCard.svelte';
import SponsorCard from '@components/content/SponsorCard.svelte';
import NyhetCard from '@components/content/NyhetCard.svelte';
import MainButton from '@components/UI/MainButton.svelte';
import SecondaryButton from '@components/UI/SecondaryButton.svelte';
import LinkButton from '@components/UI/LinkButton.svelte';
import Caorusel from '@components/content/Carousel.svelte'
const posts = await Astro.glob('../data/nyheter/*.md')
const publishedPosts = posts.filter(post => !post.frontmatter.draft)
const sortedPosts = publishedPosts.sort((a, b) => {
		const dateA = new Date(a.frontmatter.date)
		const dateB = new Date(b.frontmatter.date)
		return dateB - dateA
	})

const latestPost = sortedPosts.find(post => {
	// console.log("datum", Date(Math.max(...sortedPosts.map(post => new Date(post.frontmatter.date).getTime()))))
	// console.log("frontmatter", Date(post.frontmatter.date))
	return Date(post.frontmatter.date) === Date(Math.max(...sortedPosts.map(post => new Date(post.frontmatter.date).getTime())))
})

const latestPostWithAuthorFrontmatter = {
	...latestPost.frontmatter,
		authors: await Promise.all(latestPost.frontmatter.authors.map(async uuid => {
			const imported = await import(`../data/medlemmar/${uuid}.md`)
			return imported.frontmatter
		}))
	}

console.log("latestpost", latestPostWithAuthorFrontmatter)
---
<Layout title="KogVet" active={Astro.url.pathname} isOpaque={true}>
<Fragment slot="main">
		<section class="hero">
			<Hero />
		</section>
		<section class="welcome">
			<Titlecard sponsors={true}>
				<Fragment slot="header">
					Välkommen till kogvet!
				</Fragment>
				<Fragment slot="content">
					Vi är sektionen för det kognitionsvetenskapliga programmet vid Linköpings Universitet. Här finns information och dokument samlat till dig som är student under Student.
					Är du nyfiken på vilka vi är och vad vi gör? Se Om sektionen. För mer information om Kognitionsvetenskap som program, se Kognitionsvetenskap vid LiU.
				</Fragment>
			</Titlecard>
		</section>
		<div class="carousel">
			<Caorusel client:visible>
				 <img src="/images/karusell1.png" alt="">
				 <img src="/images/karusell2.png" alt="">
				 <img src="/images/karusell3.png" alt="">
				 <img src="/images/karusell4.png" alt="">
				 <!-- <div style="width: 500px; height: 500px; background-color: aqua;"></div>
				 <div style="width: 500px; height: 500px; background-color: green;"></div>
				 <div style="width: 500px; height: 500px; background-color: black;"></div>
				 <div style="width: 500px; height: 500px; background-color: red;"></div> -->
			</Caorusel>
		</div>
		<section class="news">
			<h1>Senaste inlägg</h1>
			<span class="line"></span>
			<div class="newsList">
				<div class="post">
					<NyhetCard post={latestPostWithAuthorFrontmatter}>
						{latestPostWithAuthorFrontmatter.excerpt}
					</NyhetCard>
				</div>
			</div>
			<a href="/student/nyheter/1">
				<MainButton>
					Alla inlägg
				</MainButton>
			</a>
		</section>
		<SecondaryButton>
			knapp
		</SecondaryButton>
		<LinkButton>
			Link knapp
		</LinkButton>
</Fragment>
</Layout>

<style lang="scss">
	.hero {
		z-index: 2;
		min-height: 100vh;
		margin-bottom: 5%;
		filter: chroma(color = #FFF);
	}

	.welcome {
		display: flex;
		justify-content: space-between;
		// box-shadow: 0 0px 6px black;
		// La till margins för att ge lite whitespace runt contentbox -Fredrik
		margin-top: 1%;
		margin-bottom: 3%;
		
	
		aside {
			background-color: white;
			display: flex;
			justify-content: center;
			width: 25%;
			//border: 2px solid #bbb;
		}
	}
	.news {
		width: clamp(500px, 70vw, 1200px);
		margin-inline: auto;
		z-index: -1;
		.line {
			display: none;
			@media (min-width: 577px)  {
				display: block
			}
			height: 2px;
			width: 100%;
			background-color: var(--buckethat-svart);
		}
	
		.newsList {
			display: flex;
			flex-direction: column;
			row-gap: 100px;
			.post {
				container-type: inline-size;
				display: flex;
				flex-direction: row-reverse;
				gap: 20px;
				padding:20px;
			}
		}
	}
	.carousel {
		height: 500px;
	}
	@media (max-width: 500px) {
		.news {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: unset;
			h1 {
				text-align: center;
			}
			.newsList {
				width: 100%;
				.post {
	
				}
			}
		}
	}
</style>
