---
import Layout from '../layouts/baseLayout.astro';
import Hero from '../components/content/hero.astro';
import Titlecard from '@components/content/TitleCard.astro';
import SponsorCard from '@components/content/SponsorCard.svelte';
const posts = await Astro.glob('../data/nyheter/*.md')
const publishedPosts = posts.filter(post => !post.frontmatter.draft)
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');
const components = await Astro.glob('../components/*/*.astro')
console.log(components)
// console.log(news)

console.log("DATUM", publishedPosts[0].frontmatter.date)
---
<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname} isOpaque={true}>
<Fragment slot="main">
		<section class="hero">
			<Hero />
		</section>
		<section class="welcome">
			<div class="text">
				<div>
				<Titlecard>
					<Fragment slot="header">
						Välkommen till kogvet!
					</Fragment>
					<Fragment slot="content">
						Vi är sektionen för det kognitionsvetenskapliga programmet vid Linköpings Universitet. Här finns information och dokument samlat till dig som är student under Student.
						Är du nyfiken på vilka vi är och vad vi gör? Se Om sektionen. För mer information om Kognitionsvetenskap som program, se Kognitionsvetenskap vid LiU.
					</Fragment>
				</Titlecard>
				</div>
			</div>
			<aside>
				<SponsorCard />
			</aside>
		</section>
		<section class="news">
			<h1>Nyheter</h1>
			<span class="line"></span>
			<div class="newsList">
				{publishedPosts.slice(0, 3).map(({Content, frontmatter, getHeadings}, index) =>
					<article style={`flex-direction: ${index%2===0?'row':'row-reverse'}`}>
						<div class="img">
								<img src={frontmatter.img} alt=""/>
						</div>
						<div class="text">
							<div class="title">
								<a href={`/student/nyheter/1#${frontmatter.title}`}><h2>{frontmatter.title}</h2></a>
							</div>
							<div class="date"><small>{frontmatter.date}</small></div>
							<div class="excerpt">{frontmatter.excerpt}</div>
						</div>
					</article>
				)}
			</div>
		</section>
		
</Fragment slot="main">
</Layout>

<style lang="scss">
	.hero {
		z-index: 2;
		min-height: 100vh;
		margin-bottom: 5%;
		filter: chroma(color = #FFF);
	}

	.welcome {
		display: flex;
		justify-content: space-between;
		box-shadow: 0 0px 6px black;
		// La till margins för att ge lite whitespace runt contentbox -Fredrik
		margin-top: 1%;
		margin-bottom: 3%;
		
		.text {
			width: 75%;
			margin-left: -3px;
			div {
				padding-left: 23%;
				background-color: var(--koggis-grön);
			}
		}
	
		aside {
			background-color: white;
			display: flex;
			justify-content: center;
			width: 25%;
			//border: 2px solid #bbb;
		}
	}
	.news {
		width: clamp(500px, 70vw, 1200px);
		margin-inline: auto;
		z-index: -1;
		.line {
			display: none;
			@media (min-width: 577px)  {
				display: block
			}
			height: 2px;
			width: 100%;
			background-color: var(--buckethat-svart);
		}
	
		.newsList {
			display: flex;
			flex-direction: column;
			row-gap: 100px;
			article {
				display: flex;
				flex-direction: row-reverse;
				gap: 20px;
				padding:20px;
			}
			img {
				max-height: 150px;
			}
			
			
			.text>* {
				margin-bottom: 8px;
			}
			.title * {
				font-weight: 500;
				transition: color .1s ease-in-out;
				margin: 0;
				text-decoration: none;
				color: black;
				&:hover {
					color: rgb(67, 67, 67);
				}
			}
			.date {
				color: rgb(64, 64, 64);
			}
			a {
				text-decoration: none;
			}
		}
	}
</style>
