---
import Layout from '../layouts/baseLayout.astro';
import Hero from '../components/content/hero.astro';

const posts = await Astro.glob('../data/nyheter/*.md')
const publishedPosts = posts.filter(post => !post.frontmatter.draft)
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');

// console.log(news)
---
<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname} isOpaque={true}>
	<div class="hero">
		<Hero />		
	</div>
	<div class="news">
		<h1>Nyheter</h1>
		<span class="line"></span>
		<div class="newsList">
			{publishedPosts.slice(0, 3).map(({Content, frontmatter, getHeadings}, index) =>
				<article style={`flex-direction: ${index%2===0?'row':'row-reverse'}`}>
					<div class="img">
							<img src={frontmatter.img} alt=""/>
					</div>
					<div class="text">
						<div class="title">
							<a href={`/for-medlemmar/nyheter#${frontmatter.title}`}><h2>{frontmatter.title}</h2></a>
						</div>
						<div class="date"><small>{frontmatter.date}</small></div>
						<div class="excerpt">{frontmatter.excerpt}</div>
					</div>					
				</article>
			)}
		</div>
	</div>
	<script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", user => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script>
</Layout>

<style lang="scss">
	.hero {
		z-index: 2;
		min-height: 100vh;
		margin-bottom: 5%;
	}
	.news {
		width: clamp(500px, 70vw, 1200px);
		margin-inline: auto;
		z-index: -1;
		.line {
			display: none;
			@media (min-width: 577px)  {
				display: block
			}
			height: 2px;
			width: 100%;
			background-color: var(--buckethat-svart);
		}
	
		.newsList {
			display: flex;
			flex-direction: column;
			row-gap: 100px;
			article {
				display: flex;
				flex-direction: row-reverse;
				gap: 20px;
				padding:20px;
			}
			img {
				max-height: 150px;
			}
			
			
			.text>* {
				margin-bottom: 8px;
			}
			.title * {
				font-weight: 500;
				transition: color .1s ease-in-out;
				margin: 0;
				text-decoration: none;
				color: black;
				&:hover {
					color: rgb(67, 67, 67);
				}
			}
			.date {
				color: rgb(64, 64, 64);
			}
			a {
				text-decoration: none;
			}
		}
	}
</style>
