---
import Layout from '../../layouts/baseLayout.astro';
import MänniskaCard from '../../components/kontakt/människaCard.astro';


const medlemmar = await Astro.glob('./styrelsemedlemmar/*.md')
const medlemmarInfo = medlemmar.map(({ frontmatter }) => frontmatter)
// console.log(medlemmar)
// console.log(medlemmarInfo, "kör")
---
<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<div class="container">
		{medlemmarInfo.map(({ post, namn, kontakt, bild }, index) =>
		<MänniskaCard 
		post={post}
		namn={namn}
		kontakt={kontakt} 
		bild={bild}
		direction={((index % 2==0) ? 'right' : 'left')}/>
		)}
	</div>
</Layout>

<style>
	.container {
		padding: 1em;
		max-width: 60ch;
	}
</style>