---
import Layout from '../../layouts/baseLayout.astro';
import MänniskaCard from '../../components/kontakt/människaCard.svelte';


const medlemmar = await Astro.glob('./medlemmar/styrelsen/*.md')
---
<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<div class="container">
		{medlemmar.map(({ frontmatter: {post, namn, kontakt, bild}, Content }, index) =>
		<div class="cardContainer">
			<MänniskaCard client:visible
			post={post}
			namn={namn}
			kontakt={kontakt} 
			bild={bild}
			direction={((index % 2==0) ? 'right' : 'left')}>
				<Content />
			</MänniskaCard>
		</div>
		)}
	</div>
</Layout>

<style>
	.container {
		padding: 1em;
		max-width: 60ch;
	}
	.cardContainer {
		width: clamp(400px, 40vw, 900px);
		margin-bottom: 20px;
		
	}
</style>