---
import Layout from '../../layouts/Basic.astro';
import MänniskaCard from '../../components/content/människaCard.svelte'

export async function getStaticPaths() {
	const utskott = await Astro.glob('../../data/utskott/*.md')
	return utskott.map(utskott => {
		return {
			params: { utskott: utskott.frontmatter.title.toLowerCase().replace(' ','-') },
			props: { utskott: utskott },
		}
	})
	// return [{params:{utskott:'styrelsen'}}]
}
const { utskott } = Astro.props
const { Content, frontmatter: { medlemmar }} = utskott
// console.log("medlemmar: ", medlemmar)
// medlemmar.map(medlem => console.log(medlem.frontmatter))
---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<div class="container" slot="content">
			<Content/>
			{medlemmar && medlemmar.map(({ post, post_hel, namn, kontakt, bild, about }, index) =>
			<div class="cardContainer">
				<MänniskaCard client:visible
				post={post}
				post_hel={post_hel}
				namn={namn}
				kontakt={kontakt} 
				bild={bild}
				direction={((index % 2==0) ? 'right' : 'left')}>
					{about}
				</MänniskaCard>
			</div>
			)}
	</div>
</Layout>

<style>
	/* .container {
		margin: auto;
		padding: 1em;
		margin-bottom: 50px;
		/* max-width: 100ch; */


	.cardContainer {
		width: clamp(400px, 40vw, 900px);
		margin-bottom: 20px;
		
	}


</style>
