---
import Layout from '../../layouts/Basic.astro';
import MänniskaCard from '../../components/content/människaCard.svelte'

export async function getStaticPaths() {
	const utskott = await Astro.glob('../../data/utskott/*.md')
	const medlemmar = await Astro.glob('../../data/medlemmar/*.md')
	return utskott.map(utskott => {
		const filteredMedlemmar = medlemmar.filter(medlem => medlem.frontmatter.utskott === utskott.frontmatter.title)
		const sortedMedlemmar = filteredMedlemmar.sort((a, b) => {
			let positionA
			let positionB
			if (utskott.frontmatter.medlemmarConfig.sorting === 'ascending') {
				positionA = a.frontmatter.position
				positionB = b.frontmatter.position
			}
			else if (utskott.frontmatter.medlemmarConfig.sorting === 'descending') {
				positionA = b.frontmatter.position
				positionB = a.frontmatter.position
			}
			console.log( positionA, positionB)
			if (positionA === -1 || positionB === -1) return -1
			else if (!positionA && !positionB) return 0
			else if (positionA && !positionB) return -1
			else if (!positionA && positionB) return 1
			
			else return positionA - positionB
		})
		sortedMedlemmar.map(medlem => console.log(medlem.frontmatter.namn))
		return {
			params: { utskott: utskott.frontmatter.title.toLowerCase().replace(' ','-') },
			props: { utskott: utskott, medlemmar: sortedMedlemmar },
		}
	})
}
const { utskott, medlemmar } = Astro.props
const { Content } = utskott
// console.log("medlemmar: ", medlemmar)
console.log("sorterad: ")

---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<div class="container" slot="content">
			<Content/>
			{medlemmar.map(({ frontmatter: {post, post_hel, namn, kontakt, bild}, Content }, index) =>
			<div class="cardContainer">
				<MänniskaCard client:visible
				post={post}
				post_hel={post_hel}
				namn={namn}
				kontakt={kontakt} 
				bild={bild}
				direction={((index % 2==0) ? 'right' : 'left')}>
					<Content />
				</MänniskaCard>
			</div>
			)}
	</div>
</Layout>

<style>
	/* .container {
		margin: auto;
		padding: 1em;
		margin-bottom: 50px;
		/* max-width: 100ch; */


	.cardContainer {
		width: clamp(400px, 40vw, 900px);
		margin-bottom: 20px;
		
	}


</style>
